.wrapper{
    background-color: white;
    text-align: center;
    width: 850px;
    padding: 10px 20px 30px 20px;
    margin: auto;
}

h1{
    text-decoration: underline;
}
.card-header{
    background-color: thistle;
    color: black;
}
textarea{
    height: 100px;
    width: 750px;
    margin: 25px 30px 25px 20px;
    border: dotted darkgray 3px;
    text-align: center;
    font-size: xx-large;
    padding-top: 25px;
}
#generate{
    color:fuchsia;
}
#copy{
    color: fuchsia;
}
.card{
    border: darkgray 1px solid;
    height: 300px;
    background-color: thistle;
   
}